[page-info] {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  padding: 15px 20px;
  background-color: lightgray;
  border-radius: 15px;
  cursor: pointer;
}

[page-info]:hover {
  background-color: rgb(200, 200, 200);
}

p {
  margin: 0px;
}

.name {
  font-weight: bold;
  font-size: 20px;
}

.route {
  font-style: italic;
  font-size: 18px;
  color: gray;
}

.buttons {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
}

.button {
  font-size: 18px;
  width: fit-content;
  padding: 5px 10px;
  background-color: gray;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  filter: brightness(0.9);
}
